*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

h1{
    text-decoration: underline;
    background-image: linear-gradient(to right,rgb(22, 214, 224),violet);
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(22, 214, 224),violet);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-image:linear-gradient(45deg ,rgb(218, 152, 240),white) ;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(12, 12, 12, 0.5),5px 5px 15px rgba(148, 147, 147, 0.4);
    background: transparent;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    margin: 10px;
}

input::placeholder{
    color: #000;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

.operator{
    color: #33ffd8;
}